@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>On this website you can work with a handbook in order to simply organize your data.</p>
    <p>You can check the code <a href="https://github.com/moonrenaissance">here on the github</a>.</p>
</div>
